.item-title {
  font-size: 20px;
  font-weight: 600;
  min-width: 90px;
}

.item-content {
  font-size: 18px;
  font-weight: 500;
  padding-right: 35px;
}
.bom-detail-title-name {
  font-size: 20px;
  width: 40%;
}
.bom-detail-title-num {
  font-size: 20px;
  width: 10%;
}
.bom-detail-title-type {
  font-size: 20px;
  width: 30%;
}
.bom-detail-title-full {
  font-size: 20px;
  width: 20%;
}
.bom-detail-data-name {
  font-size: 16px;
  width: 40%;
}
.bom-detail-data-num {
  text-align: center;
  font-size: 16px;
  width: 10%;
}
.bom-detail-data-type {
  text-align: center;
  font-size: 16px;
  width: 30%;
}
.bom-detail-data-full {
  text-align: center;
  font-size: 16px;
  width: 20%;
}